article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Natalie Baranova has added: main, button, input, and textarea to the first part of the list below (resetting margins etc).
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, button, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of meyerweb.com input*/




article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

h1 {
	color: white;
	text-align: center;
	font-size: 70px;
	padding-top: 5%;
	font-family: "JI Chunky Caps", sans-serif;
	letter-spacing: 0.1em;
	padding-left: 10%;
}

h2 {
	font-size: 30px;
	line-height: 1;
}

h3 {
	font-size: 20px;
	line-height: 1;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline-block;
}
.wrapper--lg {
	max-width: 1170px;
	margin: 0 auto; 
	background-image: url("../img/rocket-and-astronaut-background.png");
	background-position: top left;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fe7f4a;
	height: 100vh;
	position: relative;
}
/*start of menu options overlay*/
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	/*display: none;*/
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ecf0f1;
	font-size: 22px;
}

.overlay h1 {
	padding-left: 0;
}

.overlay-middle-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5.5%;
}

main {
	width: 50%;
	max-width: 600px;
	padding-left: 9%;
	padding-right: 2.5%;
	text-align: right;
}

.characterInfoGallery {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: 2.5%;
	padding-right: 4%;
}

.characterInfoCell {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 5%;
}

.characterPic {
	width: 60px;
	height: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}

.characterPointValue {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 35px;
}

.characterDescription {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 35px;
}

/*reduce margin left to account for additional "-" in prev pts container*/
.characterInfoCell:last-child .characterDescription {
	margin-left: 32px;
}

.current-difficulty {
	color: #ecf0f1;
}

.difficulty-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 45px;
	padding-bottom: 35px;
}

.difficulty-button {
	margin-left: 20px;
	margin-right: 20px;
	background: rgba(253, 246, 162, 0.3);
	border: 2px solid rgba(253, 246, 162, 0.8);
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

.difficulty-button:hover {
	color: #ecf0f1;
	font-size: 1.2em;
	transform: scale(1.05);
	background-color: rgba(253, 246, 162, 0.7);
}

button.start {
	width: 200px;
	height: 60px;
	background-color: rgba(1, 206, 191, 0.3);
	border: 2px solid rgba(1, 206, 191, 0.9);
	border-radius: 5px;
	color: #ecf0f1;
	font-size: 1.2em;
	transition: all 0.2s ease-in-out;

}

button.start:hover {
	font-size: 1.5em;
	color: #ecf0f1;
	transform: scale(1.05);
	background-color: rgba(1, 206, 191, 0.7);
}

/*end of menu options overlay*/

.spud-list {
	height: 80vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	margin-bottom: -5%;
}
.spud-list__spud-container {
	text-align: center;
	position: absolute;
	margin: 10px;
}
.hole-content {
	height: 150px;
	position: relative;
	background-image: url("../img/hole--background.png");
	background-repeat: no-repeat;
	background-position: center 100%;
	background-size: contain;
	overflow: hidden;
}
.hole-content__foreground {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 100%;
}
.hole-content__spud {
	position: absolute;
	width: auto;
	height: 150px;
	bottom: 0;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, 150px);
}
.game-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Orbitron', sans-serif;
	background-color: #fe7f4a;
	height: 10vh;
	color: #432a1c;
	padding-left: 5%;
	padding-right: 5%;
  	position: absolute;
 	bottom: 0;
 	width: 100%;
}
.LHS {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}
/*min width of 155px allows for a 5000pts score to fit without affecting location of adj containers*/
.point-container {
	min-width: 155px;
}
.time-container {
	margin-left: 3.5%;
	display: flex;
}
.time-container h3, .time-container h2 {
	display: inline-block;
}
.time-container h3 {
	line-height: 1.2;
}
/*min width of 135px allows for a 50s game time without affecting location of adj containers when game time drops to single digit*/
.time-container h2 {
	font-size: 56px;
	margin-left: 4%;
	min-width: 135px;
}

.menu-button {
	background-color: #fe7f4a;
	color:#432a1c;
	font-size: 56px;
	line-height: 1;
	transition: all 0.2s ease-in-out;
}

.menu-button:hover {
	font-size: 60px;
	color: #ecf0f1;
}

/*
	easy: 0.85s;
	medium: 0.75s;
	hard: 0.65s;

	sweet potato: 0.45s;
	yukon gold: 0.48; 
*/
.animate--up {
	transition: all 1.5s;
	transform: translate(-50%, 0px);
}

.animate--down {
	transition: all 0.9s;
	transform: translate(-50%, 150px);
}

.smooshedSpud--position {
	opacity: 1;
	position: absolute;
	bottom: -20%;
	left: 48%;
	transform: translateX(-50%);
	width: 70%;
}

/* H1 Media Query */
@media (max-width: 830px) {
	.container h1 {
		font-size: 65px;
	}
}
@media (max-width: 650px) {
	.container h1 {
		font-size: 60px;
	}
	.menu-button {
		font-size: 54px;
	}
	.time-container h2 {
		font-size: 54px;
	}
}
@media (max-width: 550px) {
	.container h1 { font-size: 45px; }
	h2 { font-size: 25px; }
	h3 { font-size: 15px; }
	.time-container h3 { line-height: 1.4; }
	.time-container h2 { font-size: 36px; }
}
@media (max-width: 435px) {
	.container h1 {
		font-size: 38px;
	}
}
@media (max-width: 350px) {
	.container h1 {
		font-size: 30px;
	}
	h2 { font-size: 21px; }
	.time-container h3 { line-height: 1.2; }
	.time-container h2 { font-size: 26px; }
}

/*Hole and Spud media query*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.hole-content {
		height: 70px; 
	}
	.hole-content__spud {
		height: 70px;
		transform: translate(-50%, 70px);
	}
	.animate--down {
		transform: translate(-50%, 70px);
	}
	.animate--up {
		transition: all 1.5s;
		transform: translate(-50%, 0);
	}
	
}

/*Changed the original height setting from 125px --> 120px */
@media only screen and (min-width: 480px) and (max-width: 768px) {
	.hole-content {
		height: 120px; 
	}
	.hole-content__spud {
		height: 120px;
		transform: translate(-50%, 120px);
	}
	.animate--down {
		transform: translate(-50%, 120px);
	}
	.animate--up {
		transition: all 1.5s;
		transform: translate(-50%, 0);
	}
}
@media only screen and (min-width: 768px) {
	.hole-content {
		height: 150px; 
	}
	.hole-content__spud {
		height: 150px;
		transform: translate(-50%, 150px);
	}
	.animate--down {
		transform: translate(-50%, 150px);
	}
	.animate--up {
		transition: all 1.5s;
		transform: translate(-50%, 0);
	}
}
/*Game info Media*/
@media (max-width: 650px) {
	.menu-button { font-size: 54px; }
	.time-container h2 { font-size: 54px; }
}
@media (max-width: 600px) {
	.game-info h3 { display: none; }
	.point-container h2 { font-size: 54px; }
}
@media (max-width: 507px) {
	.time-container { 
		margin: 0;
		order: -1;
	}
	.game-info { align-items: center; }
	.time-container h2 { 
		margin: 0;
		font-size: 42px;
	 }
	.LHS { padding-bottom: 0; }	
	.point-container h2 { font-size: 42px; }
	.menu-button { font-size: 42px; }
}
@media (max-width: 435px) {
	.game-info { align-items: flex-end; }
	.time-container h2 { font-size: 30px; }
	.point-container h2 { font-size: 30px; }
	.menu-button { font-size: 30px; }
	.LHS { padding-bottom: 5px; }
}

/* Overlay media query */
@media (max-width: 880px) { 
	.overlay-middle-row { flex-wrap: wrap; }
	.overlay-middle-row main {
		text-align: center;
		width: 100%;
		margin-bottom: 8%;
		padding-left: 5.5%;
		padding-right: 5.5%;
	}
	.characterInfoGallery {
		width: 100%;
	}
	.characterInfoCell {
		margin: 0 auto;
		margin-bottom: 3%;
	}
}
@media (max-width: 550px) { 
	.overlay { font-size: 18px; }
	button.start { 
		width: 167px;
		height: 40px;
	}
	.difficulty-buttons {
		padding-top: 25px;
		padding-bottom: 30px;
	}
}
@media (max-width: 480px) { 
	.main {
		padding-left: 10.5%;
		padding-right: 10.5%;
	}
	.characterInfoCell {
		margin-bottom: 5%;
	}
}
@media (max-width: 412px) { 
	.overlay { font-size: 16px; }
	button.start { 
		width: 155px;
		height: 30px;
		margin-bottom: 5px;
	}
}
@media (max-width: 366px) {
	.overlay h1 { display: none; }
	.characterPic {
		width: 40px;
		height: 45px;
	}
}
/*#spud-0:hover .spud-container__spud {
    /*transform: translateY(0);*/




/*@keyframes bounceIn {
  0% {
    transition: translate(50px, -150px);
    opacity: 0;
  }
  60% {
    transform: translate(50px, 150px);
    opacity: 1;
  }
  100% {
    transform: translate(50px, -150px);
  }
}*/